bt5/erp5_tiosafe_oxatis_test/SkinTemplateItem/portal_skins/erp5_tiosafe_oxatis_test/XSD/Order.xsd.obj

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Order" nillable="true" type="OrderEntity" />
  <xs:complexType name="OrderEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderSummaryEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="UserEmail" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="UserOxID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCompany" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL4" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressFloor" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressBuilding" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressStreet" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressOtherInfo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingZipCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingState" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCountryISOCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCountryName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingPhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCellPhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingFax" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CompanyVATNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCompany" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingFirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingLastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL4" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressFloor" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressBuilding" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressStreet" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressOtherInfo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingZipCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingState" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCountryISOCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCountryName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingPhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingInfo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="VATIncluded" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="EcoTaxIncluded" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubTotalNet" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubTotalNetDiscounted" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GlobalDiscountRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GlobalDiscountAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubTotalVAT" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingMethodName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingProcessorCode" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingParam1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingParam2" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingTaxRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingPriceTaxExcl" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingPriceTaxIncl" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingVATAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="EcoTaxAmountTaxIncl" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalWeight" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="CartCoupon" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LogisticsServiceProviderAccess" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LogisticsServiceProviderInstructions" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PaymentMethodName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PMProcessorCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentStatusLastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProgressStateID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="RemoteIPAddr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SalesRepCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SalesRepFirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SalesRepLastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SpecialInstructions" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="InvoiceDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="InvoiceID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="InvoiceFileName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="InternalNote" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrderItems" type="ArrayOfOrderDetailEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrderTaxDetails" type="ArrayOfOrderTaxDetailEntity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderSummaryEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OrderIdEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Date" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingFirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingLastName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="NetAmountDue" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentStatusCode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderTaxDetailEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TotalNetTaxExcl" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalNetVATAmount" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderDetailEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="PdtOptID" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemOxID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemSKU" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemSKUOriginal" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="GrossPrice" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="GrossAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="NetPrice" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="NetAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="VATAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="EcoTaxValueTaxIncl" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="DiscountCoupon" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Attribute1Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Attribute1Value" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Attribute2Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Attribute2Value" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AttributeTextName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AttributeTextValue" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemMainImageUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemThumbnailImageUrl" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrderDetailEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="OrderDetailEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOrderTaxDetailEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="OrderTaxDetailEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
