bt5/erp5_tiosafe_oxatis_test/SkinTemplateItem/portal_skins/erp5_tiosafe_oxatis_test/XSD/Product.xsd.obj

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Product" nillable="true" type="ProductEntity" />
  <xs:complexType name="ProductEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="ProductIdEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="OptPropertyID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Price" type="PriceVATModeEntity" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="EcotaxTI" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="LongDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BigImgFileName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SmallImgFileName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category1" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category2" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category3" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Brand" type="BrandEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="QuantityInStock" type="QuantityEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="QuantityReorder" type="QuantityEntity" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowInStockNote" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowStockLevel" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="DaysToShip" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowIfOutOfStock" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SaleIfOutOfStock" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SaleIfOutOfStockScenario" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShowDaysToship" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Weight" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="DimensionHeight" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="DimensionWidth" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="DimensionLength" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="HandlingSurcharge1ST" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="HandlingSurchargeOthers" nillable="true" type="xs:double" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShipPrice" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="DiscountGridCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MetaTitle" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MetaDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MetaKeywords" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Price1" type="PriceVATModeEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Price2" type="PriceVATModeEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Price3" type="PriceVATModeEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Price4" type="PriceVATModeEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastUpdateDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdditionalImagesWidth" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdditionalImagesHeight" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdditionalImagesThumbnailWidth" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdditionalImagesThumbnailChangeMode" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdditionalImagesZoomWidth" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdditionalImagesZoomPosition" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" maxOccurs="1" name="AdditionalImagesZoomHeight" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="LinkedItemID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="LinkedItemSKU" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LinkedItemLanguage" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LinkedUpdating" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="OptionIsDefault" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="EANCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemCondition" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" maxOccurs="1" name="Guarantee" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" maxOccurs="1" name="UnitsForSale" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="Cost" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductImagesListEntity" type="ArrayOfImagesListIdEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductImagesList" type="ArrayOfImagesListIdEntity1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProductIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ItemSKU" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductLanguage" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OptionValues1" type="OptionValuesEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="OptionValues2" type="OptionValuesEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="OptionValues3" type="OptionValuesEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="OptionTypes1" type="OptionTypesEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="OptionTypes2" type="OptionTypesEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="OptionTypes3" type="OptionTypesEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="ParentItemID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="ParentItemSKU" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductType" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImagesListIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ThumbnailImgFileName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ItemOxId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="ItemSKU" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImgFileName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ZoomImgFileName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BrandEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CategoryEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ParentOxId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OptionTypesEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OptionValuesEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PriceVATModeEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Value" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="VATIncluded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Value" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Append" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfImagesListIdEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImagesListIdEntity" nillable="true" type="ImagesListIdEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfImagesListIdEntity1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Images_x0020__x0020__x0020_List" nillable="true" type="ImagesListIdEntity" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
