bt5/erp5_tiosafe_oxatis_test/SkinTemplateItem/portal_skins/erp5_tiosafe_oxatis_test/XSD/UserList.xsd.obj

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserList" nillable="true" type="UserListEntity" />
  <xs:complexType name="UserListEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LatestModifiedDateStart" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="LatestModifiedDateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsersID" type="ArrayOfUserIdEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfUserIdEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserID" nillable="true" type="UserIdEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OxatisEntity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="OxID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoryEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="OxatisEntity">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ParentOxId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UserEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="UserIdEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Company" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="VATNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressL4" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingZipCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingState" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCountryISOCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCountryName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingPhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingCellPhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingFax" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingFirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingLastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCompany" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingPhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressL4" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingZipCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingState" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCountryISOCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingCountryName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SalesRepCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubscribeToNewletters" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerAccount" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category1" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category2" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category3" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="Category4" type="CategoryEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserLanguage" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PriceIndex" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Discount" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="1" name="DiscountGridCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastUpdateDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressFloor" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressBuilding" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressStreet" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BillingAddressOtherInfo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressFloor" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressBuilding" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressStreet" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShippingAddressOtherInfo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>