bt5/erp5_tiosafe_ubercart_test/SkinTemplateItem/portal_skins/erp5_tiosafe_ubercart_test/XSD/PersonList.xsd.obj

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PersonList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PersonId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonId">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="email"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="email" type="xs:string"/>
</xs:schema>
