bt5/erp5_tiosafe_ubercart_test/SkinTemplateItem/portal_skins/erp5_tiosafe_ubercart_test/XSD/Person.xsd.obj

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Person">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="firstname"/>
        <xs:element ref="lastname"/>
        <xs:element ref="email"/>
        <xs:element ref="street"/>
        <xs:element ref="zip"/>
        <xs:element ref="city"/>
        <xs:element ref="country"/>
        <xs:element ref="company"/>
        <xs:element ref="company_id"/>
        <xs:element ref="category"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="firstname" type="xs:NCName"/>
  <xs:element name="lastname" type="xs:NCName"/>
  <xs:element name="email" type="xs:string"/>
  <xs:element name="street" type="xs:string"/>
  <xs:element name="zip" type="xs:integer"/>
  <xs:element name="city" type="xs:NCName"/>
  <xs:element name="country" type="xs:string"/>
  <xs:element name="company" type="xs:integer"/>
  <xs:element name="company_id" type="xs:NCName"/>
  <xs:element name="category" type="xs:string"/>
</xs:schema>
