bt5/erp5_tiosafe_ubercart_test/SkinTemplateItem/portal_skins/erp5_tiosafe_ubercart_test/XSD/ProductList.xsd.obj

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ProductList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ProductId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="reference"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="reference" type="xs:NCName"/>
</xs:schema>
