bt5/erp5_tiosafe_ubercart_test/SkinTemplateItem/portal_skins/erp5_tiosafe_ubercart_test/XSD/Product.xsd.obj

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Product"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Product">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="reference"/>
        <xs:element ref="sale_price"/>
        <xs:element ref="purchase_price"/>
        <xs:element ref="title"/>
        <xs:element ref="state"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="reference" type="xs:NCName"/>
  <xs:element name="sale_price" type="xs:decimal"/>
  <xs:element name="purchase_price" type="xs:decimal"/>
  <xs:element name="title" type="xs:NCName"/>
  <xs:element name="state" type="xs:integer"/>
</xs:schema>
