bt5/erp5_tiosafe_ubercart_test/SkinTemplateItem/portal_skins/erp5_tiosafe_ubercart_test/XSD/SaleOrderList.xsd.obj

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OrderList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="OrderID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderID">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id"/>
        <xs:element ref="start_date"/>
        <xs:element ref="currency"/>
        <xs:element ref="billing_first_name"/>
        <xs:element ref="billing_last_name"/>
        <xs:element ref="billing_company"/>
        <xs:element ref="delivery_first_name"/>
        <xs:element ref="delivery_last_name"/>
        <xs:element ref="delivery_company"/>
        <xs:element ref="payment_method"/>
        <xs:element ref="primary_email"/>
        <xs:element ref="delivery_title"/>
        <xs:element ref="delivery_price"/>
        <xs:element ref="delivery_tax_rate"/>
        <xs:element ref="discount_code"/>
        <xs:element ref="discount_title"/>
        <xs:element ref="discount_price"/>
        <xs:element ref="discount_tax_rate"/>
        <xs:element ref="billing_country"/>
        <xs:element ref="delivery_country"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="start_date" type="xs:string"/>
  <xs:element name="currency" type="xs:NCName"/>
  <xs:element name="billing_first_name" type="xs:NCName"/>
  <xs:element name="billing_last_name" type="xs:NCName"/>
  <xs:element name="billing_company" type="xs:string"/>
  <xs:element name="delivery_first_name" type="xs:NCName"/>
  <xs:element name="delivery_last_name" type="xs:NCName"/>
  <xs:element name="delivery_company" type="xs:NCName"/>
  <xs:element name="payment_method" type="xs:NCName"/>
  <xs:element name="primary_email" type="xs:string"/>
  <xs:element name="delivery_title" type="xs:string"/>
  <xs:element name="delivery_price" type="xs:decimal"/>
  <xs:element name="delivery_tax_rate" type="xs:decimal"/>
  <xs:element name="discount_code">
    <xs:complexType/>
  </xs:element>
  <xs:element name="discount_title">
    <xs:complexType/>
  </xs:element>
  <xs:element name="discount_price">
    <xs:complexType/>
  </xs:element>
  <xs:element name="discount_tax_rate" type="xs:decimal"/>
  <xs:element name="billing_country" type="xs:string"/>
  <xs:element name="delivery_country" type="xs:string"/>
</xs:schema>
